extends ../layout

block content
	h1.
		#{title}
	form#formAgregarPersona(name="agregarPersona", method="post", action="/personas/guardar")
		p Nombre:
			input#inputNombre(type="text", placeholder="Ejem. Luis", name="nombre")
		p Apellido:
			input#inputApellido(type="text", placeholder="Ejem. Herdz",name="apellido")
		p Telefono:
			input#inputTelefono(type="text", placeholder="Ejem. 95152", name="telefono")
		p Email:
			input#inputEmail(type="email", placeholder="Ejem. test@test.com", name="email")
		p Fecha Nacimiento:
			input#inputFecha(type="date", placeholder="Ejem. Fecha Nacimiento", name="fecha_nac")
		p Usuario
			input#inputUsuario(type="text", placeholder="Ejem. usuario", name="usuario")
		p Contraseña
			input#inputPas(type="text", placeholder="Ejem. pas", name="pas")
		p
			button#btnEnviar(type="submit") Guardar


